.title {
    font-weight: bold;
}
li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* Occupy 50% of my header row */
.search-container {
    position: relative;
    flex-grow: .5;
}

/* Search input */
#search {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
}

/* Container for the search results */
.search-results {
    display: none;
    position: absolute;
    top: 100%; /* Position it just below the input */
    left: 0;
    width: 100%;
    max-height: 300px; /* Set a maximum height and make it scrollable */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add a shadow for the overlay effect */
    z-index: 1000; /* Ensure it's above other content */
}

/* Individual search result items */
.search-results__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
