<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mat oppskrifter</title>
    <link rel="stylesheet" href='{{ get_url(path="css/style.css", cachebust=true) | safe }}' />
    <meta name="description" content="Joakim Taule Kartveit simple recipes page that gathers all off them">
</head>

<body>
<section class="section">
        {% block content %} {% endblock content %}
</section>
</body>

</html>
