name: build
on:
   pull_request:
     types:
       - opened
       - reopened
       - edited
   workflow_dispatch:


jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install zola
        uses: taiki-e/install-action@v2
        with:
          tool: zola
      - name: Build
        run: zola build
