name: build
on:
   pull_request:
     types:
       - opened
       - reopened
       - edited
   workflow_dispatch:


jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build Zola site
        uses: getzola/github-pages@v0.4.1
        with:
          zola-version: 0.18.0
